
/*Code to make some elements scroll slower
    retrieved from https://stackoverflow.com/questions/29240028/css-make-a-background-image-scroll-slower-than-everything-else */
.forefront-element {
  -webkit-transform: translateZ(999px) scale(.7);
  transform: translateZ(999px) scale(.7);
  z-index: 1;
}

.base-element {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.background-element {
  -webkit-transform: translateZ(-999px) scale(2);
  transform: translateZ(-999px) scale(2);
  z-index: 3;
}